<div class="navbar">
    <div class="navbar-buttons-container">
        <div class="navbar-buttons">
            <button class="navbar-button" id="listener-button">Listener Page</button>
            <button class="navbar-button" id="add-page-button">Add Songs</button>
            <button class="navbar-button" id="remove-page-button">Remove Songs</button>
        </div>
    </div>
    <input type="text" class="search-bar" placeholder="Search...">
</div>
<div class="play-bar">
    <p>Currently Playing</p>
</div>